@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// Color Variables
$color-White: #ffffff;
$color-Black: #181818b0;
$color-pureBlack: #000000;
$color-darkBlue: #120f2d;
$color-skyBlue: #276ed7;
$color-lightGreen: #28a745;
$color-lightRed: #f14d5d;
$color-Yellow: #ffc107;

// Font Variables
$font-family: "Poppins", sans-serif;

$font-small: 13px;
$font-medium: 16px;
$font-large: 22px;
$font-Xlarge: 28px;

$font-thin: 300;
$font-normal: 400;
$font-semiBold: 500;
$font-bold: 700;

// Style Classes
@mixin anchor($color: $color-Black) {
    text-decoration: none;
    color: $color;
    cursor: pointer;
}

@mixin buttonStyle($color: $color-Black, $bg-color: $color-White) {
    background-color: $bg-color;
    font-size: $font-medium;
    font-family: $font-family;
    text-transform: capitalize;
    border: 1px solid $color-pureBlack;
    color: $color;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;

    &:hover {
        background-color: $color;
        color: $bg-color;
    }
}

@mixin listStyles {
    list-style: none;
    display: flex;
    gap: 1rem;
}

@mixin inputStyle($color: $color-Black, $bg-color: $color-White) {
    width: 350px;
    background-color: $bg-color;
    font-size: $font-medium;
    font-family: $font-family;
    text-transform: capitalize;
    border: 1px solid $color-pureBlack;
    outline: none;
    color: $color;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin section {
    width: 100%;
    height: calc(100vh - 100px);
}

@mixin sectionTitle {
    color: $color-lightRed;
    font-size: $font-medium + 4;
    font-weight: $font-semiBold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px dashed $color-lightRed;
}

@mixin sectionHeading {
    color: $color-darkBlue;
    font-size: $font-Xlarge * 1.5;
    font-weight: $font-bold;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 1rem 0;
}

@mixin sectionDescription {
    color: $color-Black;
    font-size: $font-medium + 2;
    font-weight: $font-normal;
    letter-spacing: 1px;
}
