@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// Color Variables
$color-White: #ffffff;
$color-Black : #111111;
$color-darkBlue: #120f2d;
$color-skyBlue: #276ed7;
$color-lightGreen: #28a745;
$color-lightRed: #f14d5d;
$color-Yellow: #ffc107;

// Font Variables
$font-family: "Poppins", sans-serif;

$font-normal: 17px;
$font-medium: 20px;
$font-large: 25px;

