// Import files from the SCSS folder
@import "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

a {
    @include anchor;
}

body {
    font-family: $font-family;
    font-size: $font-medium;
    color: $color-Black;

    header {
        width: 100%;
        position: fixed;
        z-index: 100;

        .header__top {
            background-color: $color-darkBlue;
            color: $color-White;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.3rem 1rem;

            a {
                color: $color-White;

                i {
                    font-size: $font-medium;
                }
            }

            .contact_links {
                display: flex;
                gap: 1.5rem;

                a {
                    font-size: $font-small;

                    i {
                        font-size: $font-small;
                        margin-right: 0.5rem;
                    }
                }
            }

            .social_links {
                display: flex;
                gap: 0.8rem;
                margin-right: 2rem;
            }
        }

        nav {
            width: 100%;
            background-color: $color-White;
            color: $color-skyBlue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;

            .logo {
                display: flex;
                align-items: center;

                i {
                    font-size: $font-Xlarge;
                    margin-right: 0.3rem;
                }
            }

            .navItems {
                ul {
                    @include listStyles;

                    li {
                        a {
                            color: $color-darkBlue;

                            &:hover {
                                border-bottom: 2px solid $color-skyBlue;
                                transition: none;
                            }
                        }
                    }
                }
            }

            .nav_contact {
                a {
                    @include buttonStyle($color: $color-White, $bg-color: $color-skyBlue);
                    border: 1px solid $color-skyBlue;
                    font-weight: $font-semiBold;

                    &:hover {
                        background-color: $color-White;
                        color: $color-skyBlue;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        position: relative;
        top: 100px;
        z-index: 1;

        // Hero Section
        .hero {
            width: 100%;
            @include section;
            background: url(../images/hero.jpg) no-repeat center center/cover;

            .heroContent {
                width: 100%;
                height: 100%;
                @include flexCenter;
                flex-direction: column;

                h3 {
                    color: $color-White;
                    font-size: $font-large * 1.5;
                    letter-spacing: 2px;
                    text-shadow: 0 1px 3px $color-Black;
                }

                h1 {
                    color: $color-White;
                    font-size: $font-Xlarge * 2.5;
                    font-weight: $font-bold;
                    letter-spacing: 3px;
                    text-shadow: 0 1px 3px $color-Black;
                }

                form {
                    input {
                        @include inputStyle;
                        box-shadow: 0 1px 3px $color-Black;
                        &:focus {
                            border: 1px solid $color-White;
                            background-color: $color-Black;
                            color: $color-White;
                        }
                    }

                    button {
                        @include buttonStyle($color: $color-White, $bg-color: $color-lightRed);
                        border: 1px solid $color-lightRed;
                        box-shadow: 0 1px 3px $color-Black;

                        &:hover {
                            background-color: $color-Black;
                            color: $color-White;
                            border: 1px solid $color-Black;
                        }
                    }
                }
            }
        }

        // About Section
        .about {
            @include section;
            margin: 2rem 0;

            .aboutContent {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 6rem 5rem;

                .aboutImage {
                    width: 100%;
                    height: 80vh;
                    flex: 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .aboutDetails {
                    width: 100%;
                    flex: 1;
                    padding-left: 2rem;

                    .title {
                        @include sectionTitle;
                    }

                    .sectionHeading {
                        @include sectionHeading;
                    }

                    .description {
                        @include sectionDescription;
                    }

                    .couresesDetails {
                        display: flex;
                        margin-top: 2rem;

                        .detail {
                            background-color: $color-lightGreen;
                            color: $color-White;
                            padding: 2rem;

                            h1 {
                                font-size: $font-Xlarge * 1.2;
                                background: none;
                            }

                            p {
                                font-weight: $font-semiBold;
                                background: none;
                                text-transform: uppercase;
                            }
                        }

                        :nth-child(2) {
                            background-color: $color-skyBlue;
                        }

                        :nth-child(3) {
                            background-color: $color-lightRed;
                        }

                        :nth-child(4) {
                            background-color: $color-Yellow;
                        }
                    }
                }
            }
        }

        // Why Choose Us Section
        .whyUs {
            @include section;

            .content {
                display: flex;
                width: 100%;
                height: 100%;
                display: flex;
                padding: 6rem 5rem;

                .contentDetails {
                    width: 100%;
                    flex: 1;

                    span {
                        @include sectionTitle;
                    }

                    h1 {
                        @include sectionHeading;
                    }

                    p {
                        @include sectionDescription;
                        font-size: $font-small + 4;
                    }

                    .aboutContentContainer {
                        margin-top: 1rem;

                        .detailsCol {
                            display: flex;
                            margin-bottom: 1rem;

                            .icon {
                                display: flex;
                                align-items: center;
                                margin-right: 1rem;

                                i {
                                    background-color: $color-skyBlue;
                                    color: $color-White;
                                    font-size: $font-large * 1.2;
                                    padding: 1.3rem;
                                }

                                .certificateIcon {
                                    background-color: $color-lightRed;
                                }

                                .classesIcon {
                                    background-color: $color-Yellow;
                                }
                            }
                            .aboutContent {
                                display: flex;
                                flex-direction: column;

                                h2 {
                                    font-size: $font-large;
                                    color: $color-darkBlue;
                                }
                                p {
                                    font-size: $font-small + 2;
                                }
                            }
                        }
                    }
                }

                .image {
                    width: 100%;
                    height: 85vh;
                    flex: 1;

                    img {
                        width: 100%;
                        height: 100%;
                        padding: 0 4rem;
                    }
                }
            }
        }

        // Our Courses Section
        .courses {
            @include section;
            padding-top: 2rem * 3;

            .coursesTop {
                width: 100%;
                text-align: center;

                .title {
                    @include sectionTitle;
                }

                .heading {
                    @include sectionHeading;
                }
            }

            .coursesContent {
                display: flex;
                justify-content: center;
                gap: 1.5rem;
                padding: 1rem 3rem;

                .card {
                    width: 300px;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                        .cardContent {
                            transform: translateX(0);
                            z-index: 1;
                        }
                    }

                    .cardImage {
                        width: 100%;
                        height: 400px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .cardContent {
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include flexColumnCenter;
                        z-index: -1;

                        h1 {
                            color: $color-White;
                            font-size: $font-medium * 1.3;
                            text-align: center;
                            border-bottom: 1px solid $color-White;
                            padding-bottom: 1rem;
                        }

                        .rating {
                            @include flexColumnCenter;
                            color: $color-White;
                            margin-top: 1rem;

                            p {
                                font-size: $font-large;
                                font-weight: $font-semiBold;
                            }

                            .stars {
                                i {
                                    color: $color-Yellow;
                                }
                            }
                        }

                        button {
                            @include buttonStyle($color: $color-White, $bg-color: $color-skyBlue);
                            margin-top: 2rem;
                            border: none;

                            &:hover {
                                background-color: $color-skyBlue;
                                color: $color-White;
                            }
                        }
                    }
                }
            }
        }

        // Course Selection Form
        .courseSelection {
            @include section;
            padding-top: 5rem;
            @include flexColumnCenter;
            justify-content: flex-start;

            .heading {
                text-align: center;
                @include sectionHeading;
                margin-bottom: 5rem;
            }

            form {
                width: 500px;
                background-color: $color-White;
                @include flexColumnCenter;
                flex-wrap: wrap;
                gap: 2rem;
                padding: 2rem 1rem;
                box-shadow: 0px 1px 3px $color-Black;

                input {
                    @include inputStyle;
                    width: 100%;
                }

                select {
                    @include inputStyle;
                    width: 100%;
                }

                #btn {
                    @include buttonStyle($color: $color-White, $bg-color: $color-darkBlue);

                    &:hover {
                        background-color: $color-skyBlue;
                        color: $color-White;
                    }
                }
            }
        }

        // Our Instructor Section
        .ourInstructors {
            @include section;
            padding-top: 2rem * 3;

            .sectionHeading {
                text-align: center;
                margin-bottom: 5rem;

                .title {
                    @include sectionTitle;
                }

                .heading {
                    @include sectionHeading;
                }
            }
        }
    }
}
