// Import files from the SCSS folder
@import "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

a {
    @include anchor;
}

body {
    font-family: $font-family;
    font-size: $font-medium;
    color: $color-Black;

    header {
        width: 100%;
        position: fixed;
        z-index: 100;

        .header__top {
            background-color: $color-darkBlue;
            color: $color-White;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.3rem 1rem;

            a {
                color: $color-White;

                i {
                    font-size: $font-medium;
                }
            }

            .contact_links {
                display: flex;
                gap: 1.5rem;

                a {
                    font-size: $font-small;

                    i {
                        font-size: $font-small;
                        margin-right: 0.5rem;
                    }
                }
            }

            .social_links {
                display: flex;
                gap: 0.8rem;
                margin-right: 2rem;
            }
        }

        nav {
            width: 100%;
            background-color: $color-White;
            color: $color-skyBlue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;

            .logo {
                display: flex;
                align-items: center;

                i {
                    font-size: $font-Xlarge;
                    margin-right: 0.3rem;
                }
            }

            .navItems {
                ul {
                    @include listStyles;

                    li {
                        a {
                            color: $color-darkBlue;

                            &:hover {
                                border-bottom: 2px solid $color-skyBlue;
                                transition: none;
                            }
                        }
                    }
                }
            }

            .nav_contact {
                a {
                    @include buttonStyle($color: $color-White, $bg-color: $color-skyBlue);
                    border: 1px solid $color-skyBlue;
                    font-weight: $font-semiBold;

                    &:hover {
                        background-color: $color-White;
                        color: $color-skyBlue;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        position: relative;
        top: 100px;
        z-index: 1;

        // Hero Section
        .hero {
            width: 100%;
            height: calc(100vh - 100px);
            background: url(../images/hero.jpg) no-repeat center center/cover;

            .heroContent {
                width: 100%;
                height: 100%;
                @include flexCenter;
                flex-direction: column;

                h3 {
                    color: $color-White;
                    font-size: $font-large * 1.5;
                    letter-spacing: 2px;
                    text-shadow: 0 1px 3px $color-Black;
                }

                h1 {
                    color: $color-White;
                    font-size: $font-Xlarge * 2.5;
                    font-weight: $font-bold;
                    letter-spacing: 3px;
                    text-shadow: 0 1px 3px $color-Black;
                }

                form {
                    input {
                        @include inputStyle;
                        &:focus {
                            border: 1px solid $color-White;
                            background-color: $color-Black;
                            color: $color-White;
                        }
                    }

                    button {
                        @include buttonStyle($color: $color-White, $bg-color: $color-lightRed);
                        border: 1px solid $color-lightRed;

                        &:hover {
                            background-color: $color-Black;
                            color: $color-White;
                            border: 1px solid $color-Black;
                        }
                    }
                }
            }
        }

        
    }
}
