@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(24, 24, 24, 0.6901960784);
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(24, 24, 24, 0.6901960784);
}
body header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
body header .header__top {
  background-color: #120f2d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
}
body header .header__top a {
  color: #ffffff;
}
body header .header__top a i {
  font-size: 16px;
}
body header .header__top .contact_links {
  display: flex;
  gap: 1.5rem;
}
body header .header__top .contact_links a {
  font-size: 13px;
}
body header .header__top .contact_links a i {
  font-size: 13px;
  margin-right: 0.5rem;
}
body header .header__top .social_links {
  display: flex;
  gap: 0.8rem;
  margin-right: 2rem;
}
body header nav {
  width: 100%;
  background-color: #ffffff;
  color: #276ed7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
body header nav .logo {
  display: flex;
  align-items: center;
}
body header nav .logo i {
  font-size: 28px;
  margin-right: 0.3rem;
}
body header nav .navItems ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
body header nav .navItems ul li a {
  color: #120f2d;
}
body header nav .navItems ul li a:hover {
  border-bottom: 2px solid #276ed7;
  transition: none;
}
body header nav .nav_contact a {
  background-color: #276ed7;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border: 1px solid #276ed7;
  font-weight: 500;
}
body header nav .nav_contact a:hover {
  background-color: #ffffff;
  color: #276ed7;
}
body header nav .nav_contact a:hover {
  background-color: #ffffff;
  color: #276ed7;
}
body main {
  width: 100%;
  position: relative;
  top: 100px;
  z-index: 1;
}
body main .hero {
  width: 100%;
  height: calc(100vh - 100px);
  background: url(../images/hero.jpg) no-repeat center center/cover;
}
body main .hero .heroContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .hero .heroContent h3 {
  color: #ffffff;
  font-size: 33px;
  letter-spacing: 2px;
  text-shadow: 0 1px 3px rgba(24, 24, 24, 0.6901960784);
}
body main .hero .heroContent h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 0 1px 3px rgba(24, 24, 24, 0.6901960784);
}
body main .hero .heroContent form input {
  width: 350px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  border: 1px solid #000000;
  outline: none;
  color: rgba(24, 24, 24, 0.6901960784);
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(24, 24, 24, 0.6901960784);
}
body main .hero .heroContent form input:focus {
  border: 1px solid #ffffff;
  background-color: rgba(24, 24, 24, 0.6901960784);
  color: #ffffff;
}
body main .hero .heroContent form button {
  background-color: #f14d5d;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border: 1px solid #f14d5d;
  box-shadow: 0 1px 3px rgba(24, 24, 24, 0.6901960784);
}
body main .hero .heroContent form button:hover {
  background-color: #ffffff;
  color: #f14d5d;
}
body main .hero .heroContent form button:hover {
  background-color: rgba(24, 24, 24, 0.6901960784);
  color: #ffffff;
  border: 1px solid rgba(24, 24, 24, 0.6901960784);
}
body main .about {
  width: 100%;
  height: calc(100vh - 100px);
}
body main .about .aboutContent {
  display: flex;
  padding: 2rem 4rem;
}
body main .about .aboutContent .aboutImage {
  width: 100%;
  height: 80vh;
  flex: 1;
}
body main .about .aboutContent .aboutImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .about .aboutContent .aboutDetails {
  width: 100%;
  flex: 1;
  padding-left: 2rem;
}
body main .about .aboutContent .aboutDetails .title {
  color: #f14d5d;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px dashed #f14d5d;
}
body main .about .aboutContent .aboutDetails .sectionHeading {
  color: #120f2d;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 1rem 0;
}
body main .about .aboutContent .aboutDetails .description {
  color: rgba(24, 24, 24, 0.6901960784);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
body main .about .aboutContent .aboutDetails .couresesDetails {
  display: flex;
  margin-top: 2rem;
}
body main .about .aboutContent .aboutDetails .couresesDetails .detail {
  background-color: #28a745;
  color: #ffffff;
  padding: 2rem;
}
body main .about .aboutContent .aboutDetails .couresesDetails .detail h1 {
  font-size: 33.6px;
  background: none;
}
body main .about .aboutContent .aboutDetails .couresesDetails .detail p {
  font-weight: 500;
  background: none;
  text-transform: uppercase;
}
body main .about .aboutContent .aboutDetails .couresesDetails :nth-child(2) {
  background-color: #276ed7;
}
body main .about .aboutContent .aboutDetails .couresesDetails :nth-child(3) {
  background-color: #f14d5d;
}
body main .about .aboutContent .aboutDetails .couresesDetails :nth-child(4) {
  background-color: #ffc107;
}/*# sourceMappingURL=styles.css.map */